<div class="search-form">
  <%= form_tag albums_path, method: :get do %>
    <%= label_tag(:query, t('search_by')) %>
    <%= select_tag(:critere, options_for_select([
      [t('title'), :title],
      [t('author'), :author],
      [t('description'), :description]
    ], params[:critere])) %>
    <%= text_field_tag :q, params[:q], placeholder: t('keyword') %>
    <%= submit_tag(t('search'), class: "btn") %>
  <% end %>
</div>
