<div class="search-form">
  <%= form_tag albums_path, method: :get do %>
    <%= label_tag(:query, "search by") %>
    <%= select_tag(:critere, options_for_select([
      ["title", :title],
      ["author", :author],
      ["description", :description]
    ], params[:critere])) %>
    <%= text_field_tag :q, params[:q], placeholder: "keyword" %>
    <%= submit_tag("search", class: "btn") %>
  <% end %>
</div>
