<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag("logo.png", :alt => "logo") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <% if current_user.nil? %>
      <%= link_to t("sign_in"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t("sign_up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% else %>
      <%= link_to t("sign_out"), destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= image_tag("user.png", :class => "avatar dropdown-toggle", :id =>"navbar-wagon-menu", :"data-toggle" => "dropdown") %>
    <% end %>
    <a href="/" id="en"><img src="http://i64.tinypic.com/fd60km.png"/></a>
    <a href="/fr" id="fr"><img src="http://i65.tinypic.com/300b30k.png"/></a>
  </div>
</div>
